<h1>wikinimous</h1>
<h5><%= link_to 'New article', '/articles/new' %></h5>

<% @articles.each_with_index do |article, index| %>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to article.title, article_path(article) %></li>
  </ul>

<% end %>
